<p>{{ lorem }}</p>
<p>Tutta la parte di contenuto in blu è all'interno del componente <b>app-prova</b></p>

<label>num1</label>
<input type="number" [(ngModel)]="num1">
<label>num2</label>
<input type="number" [(ngModel)]="num2">

<h3>if con direttiva *ngIf</h3>
<p>num1 = {{num1}}</p>
<p>num2 = {{num2}}</p>
<p *ngIf="num1 > num2">num1 è > di num2</p> <!-- questo non è verificato quindi non viene stampato -->
<p *ngIf="num2 > num1">num2 è > di num1</p>


<h3>if else con con direttiva *ngIf ng-template</h3>

<p *ngIf="num1 != num2; then bloccoIf else bloccoElse"></p>
<ng-template #bloccoIf>
  <p>
    num1 ({{num1}}) e num2 ({{num2}}) NON sono uguali
  </p>
</ng-template>
<ng-template #bloccoElse>
  <p>
    num1 ({{num1}}) e num2 ({{num2}}) sono uguali
  </p>
</ng-template>

<h3>direttiva ngFor</h3>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nome</th>
      <th>cognome</th>
      <th>index</th>
      <th>count</th>
      <th>note varie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of persone; index as i, count as c, first as f, last as l, even as e, odd as o">
      <td>{{ p.id }}</td>
      <td>{{ p.nome }}</td>
      <td><b>{{ p.cognome.toUpperCase() }}</b></td>
      <td>{{ i }}</td>
      <td>{{ c }}</td>
      <td>
        <span *ngIf="f">primo </span>
        <span *ngIf="l">ultimo </span>
        <span *ngIf="e">pari </span>
        <span *ngIf="o">dispari</span>
      </td>
  </tbody>
</table>

<h3>ngSwitch</h3>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>titolo</th>
      <th>quantità</th>
      <th>disponibilità</th>
      <th>🔼🔽</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of libri">
      <td>{{ l.id }}</td>
      <td>{{ l.titolo }}</td>
      <!-- <td [ngStyle]="{backgroundColor: (l.quantita < 1) ? 'red' : 'green'}">{{ l.quantita }}</td> -->
      <td [ngClass]="{'verde': l.quantita > 0, 'rosso': l.quantita <= 0}">{{ l.quantita }}</td>
      <td>
        <span [ngSwitch]="l.quantita">
          <span style="color:red" *ngSwitchCase="0">non disponibile</span>
          <span style="color:green" *ngSwitchDefault>disponibile</span>
        </span>
      </td>
      <td>
        <input style="width:50px;" type="number" min="0" [(ngModel)]="l.quantita">
      </td>
    </tr>
  </tbody>
</table>

<br>
<hr>
