<h1>{{ title }}</h1> (string interpolation)

<h3>property binding</h3>
<button [disabled]="isBtnInactive" (click)="onBtnClick()">Carica Dati</button>
<hr>
<h3>event bnding</h3>
<input type="text" placeholder="inserisci qualcosa" (input)="onInputInsert($event)">
<div id="res"></div>
<h3>2 way binding</h3>
<label for="interesse">linguaggio preferito:</label>
<input type="text" placeholder="scrivi qualcosa d'altro" [(ngModel)]="favLanguage">
<br>
<button (click)="cambiaInteresse()">cambia interesse</button>
